:root {
  --gray-bg: rgb(18, 18, 18);
}

.main * {
  font-family: "Nunito", sans-serif;
}

.main {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
}

.leftSide {
  width: 25.45%;
  max-width: 420px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.upperSection {
  background-color: var(--gray-bg);
  height: 112px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.leftButton {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 20px;
  background-color: transparent;
  border: 0;
  height: 40px;
  padding: 4px 12px;
  cursor: pointer;
}

.leftButton:hover .leftTitle {
  color: white;
}

.leftButton:hover .leftIcon {
  filter: invert(100%) sepia(0%) saturate(7491%) hue-rotate(256deg)
    brightness(103%) contrast(99%);
}

.leftTitle {
  margin: 0;
  color: rgb(179, 179, 179);
  font-weight: 800;
  font-size: 16px;
  transition: 0.2s linear;
}

.leftIcon {
  width: 26px;
  filter: invert(86%) sepia(7%) saturate(13%) hue-rotate(315deg) brightness(87%)
    contrast(77%);
  transition: 0.2s linear;
}

.upperContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottomSection {
  background-color: var(--gray-bg);
  border-radius: 8px;
  flex: 1 1 auto;
  padding: 20px 22px;
}

.playlistText {
  color: white;
  font-weight: 800;
  font-size: 17px;
  margin: 0;
}

.bottomContent {
}

.rightSide {
  flex: 1 1 auto;
  box-sizing: border-box;
  background-color: var(--gray-bg);
  border-radius: 8px;
}

@media only screen and (max-width: 1100px) {
  .leftSide {
    width: 280px;
  }
}
